<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missing Directory | Homepage</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">
    <link rel="stylesheet" href="../css/libs/uikit-rtl.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/home.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>

  </head>
  <body>


    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-8" align="center" style="padding-top: .5%;">
            <h1>The Missing Directory</h1>
          </div>
          <div class="col-2" align="right">
            <div class="uk-inline">
              <button class="btn btn-outline-secondary rounded-pill" type="button">
                <div class="row">
                  <div class="col-4" style="padding-left: 0;">
                    <img src="../resources/images/placeholders/users/user-white.png" alt="" class="rounded-circle" style="max-width: 50px;">
                  </div>
                  <div class="col-8" align="center">
                    <div style="padding-top: 20%;">Profile</div>
                  </div>
                </div>
              </button>
              <div uk-drop="mode: click">
                  <div class="uk-card uk-card-body uk-card-default rounded-lg shadow-lg">
                    <div class="row">
                      <div class="col-5" align="left">
                        <img src="../resources/images/placeholders/users/user-white.png" alt="" class="rounded-circle" style="max-width: 80px;">
                      </div>
                      <div class="col-7" align="left" style="padding-top: 5%;">
                        <div class="row">
                          <b>Sample User 1</b>
                        </div>
                        <div class="row">
                          Police Investigator
                        </div>
                      </div>
                    </div>
                    <div class="row" align="center" style="margin-top: 10%;">
                      <div class="col-12">
                        <button class="btn btn-primary rounded-pill btn-block">View Full Profile</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>


    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar bg-light">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="row" style="margin-top: 20%;">
              <!-- <div class="col-5">

              </div> -->
              <div class="col-12">
                <h2>
                  The Missing Directory
                </h2>
                <hr style="border-color: grey; margin-bottom: 30px;">
              </div>
            </div>

            <div class="container-fluid menubar">
              <a class="btn btn-link active-menu">Home</a><br>
              <a class="btn btn-link">Watching</a><br>
              <a class="btn btn-link">Face Recognition</a><br>
              <a class="btn btn-link">Logout</a>

            </div>
        </div>
    </div>


    <!-- ========================================= CONTAINER =========================================== -->
    <div class="main">

      <div class="container">
        <div class="header">
          <div class="row">
            <div class="col-8">
              <h2>Directory Results</h2>
            </div>
            <div class="col-1" align="right">
              <button type="button" class="btn btn-outline-primary rounded-pill">Filters</button>
            </div>
            <div class="col-3" align="right">
              <div class="uk-margin">
                <form class="uk-search uk-search-default">
                  <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                  <input class="uk-search-input rounded-pill" type="search" placeholder="Search...">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid results">
        <hr>

        <div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
          <!-- CARD 1 -->
          <div class="card-column">
            <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
              <div class="uk-card-media-top">
                  <img src="../resources/images/placeholders/users/user-black.png" alt="">
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title">Missing Person 1</h5>
                <div>
                  <div class="row">
                    <div class="col-5" align="left">
                      <i>Age:</i> <span style="margin-left: 6px;">17</span>
                    </div>
                    <div class="col-7" align="center">
                      <i>Gender: </i><span style="margin-left: 6px;">Male</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <i>Location: </i> <span style="margin-left: 6px;">Mumbai, India</span>
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-6" align="center">
                      <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
                    </div>
                    <div class="col-6" align="center">
                      <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CARD 2 -->
          <div class="card-column">
            <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
              <div class="uk-card-media-top">
                  <img src="../resources/images/placeholders/users/user-black.png" alt="">
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title">Missing Person 2</h5>
                <div class="row">
                  <div class="col-5" align="left">
                    <i>Age:</i> <span style="margin-left: 6px;">21</span>
                  </div>
                  <div class="col-7" align="center">
                    <i>Gender: </i><span style="margin-left: 6px;">Female</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <i>Location: </i> <span style="margin-left: 6px;">Mumbai, India</span>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
                  </div>
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CARD 3 -->
          <div class="card-column">
            <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
              <div class="uk-card-media-top">
                  <img src="../resources/images/placeholders/users/user-black.png" alt="">
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title">Missing Person 3</h5>
                <div class="row">
                  <div class="col-5" align="left">
                    <i>Age:</i> <span style="margin-left: 6px;">25</span>
                  </div>
                  <div class="col-7" align="center">
                    <i>Gender: </i><span style="margin-left: 6px;">Female</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <i>Location: </i> <span style="margin-left: 6px;">Delhi, India</span>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
                  </div>
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CARD 4 -->
          <div class="card-column">
            <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
              <div class="uk-card-media-top">
                  <img src="../resources/images/placeholders/users/user-black.png" alt="">
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title">Missing Person 4</h5>
                <div class="row">
                  <div class="col-5" align="left">
                    <i>Age:</i> <span style="margin-left: 6px;">11</span>
                  </div>
                  <div class="col-7" align="center">
                    <i>Gender: </i><span style="margin-left: 6px;">Male</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <i>Location: </i> <span style="margin-left: 6px;">Rajasthan, India</span>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
                  </div>
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CARD 5 -->
          <div class="card-column">
            <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
              <div class="uk-card-media-top">
                  <img src="../resources/images/placeholders/users/user-black.png" alt="">
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title">Missing Person 5</h5>
                <div class="row">
                  <div class="col-5" align="left">
                    <i>Age:</i> <span style="margin-left: 6px;">33</span>
                  </div>
                  <div class="col-7" align="center">
                    <i>Gender: </i><span style="margin-left: 6px;">Male</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <i>Location: </i> <span style="margin-left: 6px;">Goa, India</span>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
                  </div>
                  <div class="col-6" align="center">
                    <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>



  </body>
</html>
