<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missing Directory | Homepage</title>

    <!-- CSS LIBRARIES IMPORT -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/uikit.min.css">

    <!-- CUSTOM CSS IMPORTS -->
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/user_profile.css">

    <!-- JS LIBRARIES IMPORT -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit.min.js" charset="utf-8"></script>
    <script src="../js/libs/uikit-icons.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>

    <!-- UTILITY FUNCTIONS JS IMPORT -->
    <script src="../js/utils.js" charset="utf-8"></script>
  </head>
  <body>


    <!-- ========================================= NAVBAR =========================================== -->
    <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
      <nav class="uk-navbar-container navbar-main shadow" uk-navbar>
        <div class="row" style="width: 100%;">
          <div class="col-2" align="left" style="padding-left: 4%; padding-top: .5%;">
            <a class="hamburger" uk-icon="icon: menu; ratio: 2" href="#offcanvas-usage" uk-toggle></a>
          </div>
          <div class="col-8" align="center" style="padding-top: .5%;">
            <h1>Missing Directory</h1>
          </div>
            <div class="uk-inline">
              <div class="col-2" align="right">
                <button class="btn btn-outline-secondary rounded-pill" type="button">
                  <div class="row">
                    <div class="col-4" style="padding-left: 0;">
                      <img src="../resources/images/placeholders/users/user-white.png" alt="" class="rounded-circle" style="max-width: 50px;">
                    </div>
                    <div class="col-8" align="center">
                      <div style="padding-top: 50%; padding-left:30%; ">Profile</div>
                    </div>
                  </div>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </div>


    <!-- ========================================= MENU =========================================== -->
    <div id="offcanvas-usage" uk-offcanvas="overlay: true; mode: slide;">
        <div class="uk-offcanvas-bar bg-light">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close></button>

            <div class="row" style="margin-top: 20%;">
              <!-- <div class="col-5">

              </div> -->
              <div class="col-12">
                <h2>
                  Missing Directory
                </h2>
                <hr style="border-color: grey; margin-bottom: 30px;">
              </div>
            </div>

            <div class="container-fluid menubar">
              <a class="btn btn-link">Home</a><br>
              <a class="btn btn-link">Watching</a><br>
              <a class="btn btn-link">Face Recognition</a><br>
              <a class="btn btn-link">Helpline</a><br>
              <a class="btn btn-link">About Us</a><br>
              <a class="btn btn-link">Logout</a><br>

            </div>
        </div>
    </div>


    <div class="container">
      <h1>File</h1>
      <form onsubmit="return false;">
        <input type="file" id="file" name="file" value="">
        <p>
          <button type="button" class="btn btn-info" id="submit" name="button">Submit</button>
        </p>
      </form>
    </div>


    <script type="text/javascript">

      $('#submit').click(function () {

        // console.log($('#file').files);
        // var file = document.getElementById('file').files;
        var file = $('#file')[0].files[0];
        var form = new FormData(document.querySelector('form'));
        // form.append('file', file);
        $.ajax({
          type: "POST",
          url: url + 'file',
          data: form,
          success: function(data) {
            console.log(data);
          },
         error: function(error) {
           console.log(error);
         },
         dataType: 'json',
         processData: false,
         contentType: false
        });



      });


    </script>


</body>
</html>
