<!-- CARD 2 -->
<div class="card-column">
  <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
    <div class="uk-card-media-top">
        <img src="../resources/images/placeholders/users/user-black.png" alt="">
    </div>
    <div class="uk-card-body">
      <h5 class="uk-card-title">Missing Person 2</h5>
      <div class="row">
        <div class="col-5" align="left">
          <i>Age:</i> <span style="margin-left: 6px;">21</span>
        </div>
        <div class="col-7" align="center">
          <i>Gender: </i><span style="margin-left: 6px;">Female</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <i>Location: </i> <span style="margin-left: 6px;">Mumbai, India</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
        </div>
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CARD 3 -->
<div class="card-column">
  <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
    <div class="uk-card-media-top">
        <img src="../resources/images/placeholders/users/user-black.png" alt="">
    </div>
    <div class="uk-card-body">
      <h5 class="uk-card-title">Missing Person 3</h5>
      <div class="row">
        <div class="col-5" align="left">
          <i>Age:</i> <span style="margin-left: 6px;">25</span>
        </div>
        <div class="col-7" align="center">
          <i>Gender: </i><span style="margin-left: 6px;">Female</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <i>Location: </i> <span style="margin-left: 6px;">Delhi, India</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
        </div>
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CARD 4 -->
<div class="card-column">
  <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
    <div class="uk-card-media-top">
        <img src="../resources/images/placeholders/users/user-black.png" alt="">
    </div>
    <div class="uk-card-body">
      <h5 class="uk-card-title">Missing Person 4</h5>
      <div class="row">
        <div class="col-5" align="left">
          <i>Age:</i> <span style="margin-left: 6px;">11</span>
        </div>
        <div class="col-7" align="center">
          <i>Gender: </i><span style="margin-left: 6px;">Male</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <i>Location: </i> <span style="margin-left: 6px;">Rajasthan, India</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
        </div>
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CARD 5 -->
<div class="card-column">
  <div class="uk-card uk-card-default uk-card-hover border border-secondary rounded">
    <div class="uk-card-media-top">
        <img src="../resources/images/placeholders/users/user-black.png" alt="">
    </div>
    <div class="uk-card-body">
      <h5 class="uk-card-title">Missing Person 5</h5>
      <div class="row">
        <div class="col-5" align="left">
          <i>Age:</i> <span style="margin-left: 6px;">33</span>
        </div>
        <div class="col-7" align="center">
          <i>Gender: </i><span style="margin-left: 6px;">Male</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <i>Location: </i> <span style="margin-left: 6px;">Goa, India</span>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-primary rounded-pill" type="button">Details</button>
        </div>
        <div class="col-6" align="center">
          <button class="btn btn-sm btn-outline-success rounded-pill" type="button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
